[Unit]
Description=PowerGateway WLAN fuer Hotspot vorbereiten
After=NetworkManager.service
Wants=NetworkManager.service
Before=powergateway-network.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/rfkill unblock wifi
ExecStart=/usr/bin/nmcli radio wifi on
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
