[Unit]
Description=PowerGateway No-IP DDNS Timer

[Timer]
OnBootSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=30s
Persistent=true
Unit=powergateway-noip.service

[Install]
WantedBy=timers.target
